div.mainQ
  h1 ?
  button(onclick="makeVisible()")
  div.arrow > >
  p Push Me!

div.hiddenDiv(id="hiddenDiv")
  div.rightQ
    p.right1 ?
    p.right2 ?
    p.right3 ?
  div.leftQ
    p.left1 ?
    p.left2 ?