/* A:3 L:2 I:1 E:3 N:3. width/height proportions: 1:3 */

body {
  width: 100vw;
  height: 100vh;
  /*background: #0e0e14;*/
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(30, 21, 11, 0.19); /* add brown overlay*/
  background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXZ2dXgwZzU4cjM3c2JyZWN4ZThnNHZkczJkYm40YXVhMWhrdnE5OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RJy4FQlLbxDz4kJ6GF/giphy.gif'); /* Credit to Erica Anderson*/
}

/* SHAPE TYPES */
.fwdSlash {
  background: white;
  width: 15px;
  height: 45px;
  transform: skew(340deg);
}

.backSlash {
  background: white;
  width: 15px;
  height: 45px;
  transform: skew(20deg);
}

.horizLine {
  width: 25px;
  height: 12px;
  background: white;
}

/* E character */
.horizTwo {

}

.hzTop {
  position: relative;
  margin-left: 550px;
  margin-top: 3px;
}

.hzBottom {
  position: relative;
  margin-left: 550px;
  margin-top: 21px;
}

.vertLine {
  width: 15px;
  height: 45px;
  background: white;   
}

/* POSITIONING */
.text-container {
  width: 800px;
  height: 150px;
  
  position: relative;
  top: 20%;  /* centers container to viewport */
  left: 50%;
  transform: translate(-50%, -50%);
}

.A1 {
  position: absolute;
  margin-left: 40px;
  margin-top: 16px;
}

.A2 {
  position: absolute;
  margin-left: 62px;
  margin-top: 16px;
}

.A3 {
  position: relative;
  top: 43px;
  left: 45px;
}

.L1 {
  position: absolute;
  margin-left: 225px;
  margin-top: 3px;
}

.L2 {
  position: absolute;
  margin-left: 240px;
  margin-top: 36px;
  
  width: 20px;
}

.I {
  position: absolute;
  margin-left: 393px;
  margin-top: 3px;
}

.E1 {
  position: absolute;
  margin-left: 535px;
  margin-top: 3px;
}

.E3 {
  position: absolute;
  margin-left: 550px;
  margin-top: -29px;
  
  width: 20px;
}

.N1 {
  position: absolute;
  margin-left: 719px;
  margin-top: -45px;
  
  transform: skew(30deg);
}

.N2 {
  position: absolute;
  margin-left: 733px;
  margin-top: -45px;
}

.N3 {
  position: absolute;
  margin-left: 705px;
  margin-top: -45px;
}
