@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  
  background: pink;
  
}

.container {
  position: relative;
  width: 80%;
  height: 70%;
  
  /*Glassmorphism*/
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ); 
  
  font-family: "Open Sans", sans-serif;
}

.profile {
  position: relative;
  top: -15%;
  left: 55%;
  width: 50%;
  height: 55%;
  overflow: hidden;
  
  /* center children elems */
  /*
  display: flex; 
  justify-content: center; */

  
  background: rgba( 105, 74, 226, 0.89 ); /* change color + opacity */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.profile-pic {
  position: relative;
  top: 75px;
  left: 50%;
  transform: translate(-50%, -50%); 
  /*
  top: 20px;
  left: 40px;*/
  height: 100px;
  width: 100px;
  border: .25rem solid white;
  border-radius: 50%;
  background: url("https://assets.codepen.io/6611601/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1713400458&width=512");
  background-size: 100px;
  
}

.profile-text {
  position: relative;
  top: 13%;
  left: 10%;
  height: 40%;
  width: 80%;
  
  overflow: hidden; /* find another solution */
  font-size: 1.7vw;   
  color: white;
  text-align: center;
 
}

.text {
  position: absolute;
  top: 1%;
  left: 5%;
  width: 45%;
  height: 30%;
  text-align: center;
 
  font-size: 4.8vw;
}

.first-phrase {
  letter-spacing: 5px;
}

.amp {
}

.highlight {
  box-shadow: inset 0 0 0 0 #FFD460;
  color: #694ae2;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}

.highlight:hover {
  color: #694ae2;
  box-shadow: inset 200px 0 0 0 #FFD460;
}

.scroll-container {
  position: relative;
  overflow: hidden;
  top: -6%;
  height: 43%;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll-horizontal 21s linear infinite;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel img {
  margin: 0 0.5em;
  height: 30vh;
  border-radius: 15px;
}

@keyframes scroll-horizontal {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
