@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  height: 100vh;   /* prevents repeating background*/
  padding: 25px;   /* set padding of body away from #app */
  background: var(--grad-y-o);
  
  /* Font for entire body */
  font-family: "Rubik", sans-serif;
  
  /* Custom properties as HSL Colors */
  --black: 26 72% 15%;
  --white: 49 0% 100%;
  --color-1: 206 96% 77%; /* color 1 for hsl */
  --color-1-hsl: hsl(var(--color-1));
  --color-2: 294 94% 67%; /* color 2 for hsl */
  --color-2-hsl: hsl(var(--color-2));
  
  /* Gradient */
  --grad-y-o: linear-gradient(160deg, var(--color-1-hsl), var(--color-2-hsl));
}

#app {
  box-shadow: 0 0 .5rem hsla(var(--black) / .2);
  border-radius: 20px;
  background: hsla(var(--white) / .7);  
  padding: 25px;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.input-bar {  
  border-radius: 10px;
  /* white overlay */
  background: linear-gradient(160deg, hsla(var(--color-1) / .6), hsla(var(--color-2) / .6)), white; /* uses custom property specified */
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  width: calc(100vw - 150px); /* extends container when resizing browser */ 
  font-size: 20px;
}

::placeholder {
  color: black; /* changes placeholder text color */
}

/* Styles list item */
li {
   margin: 10px;
   white-space: normal;   /* fixes text overflow, creates new line */
   line-height: 1.6;      /* line spacing for multi-line txt */
   font-size: 20px;
}

.button {
  background: linear-gradient(160deg, hsla(var(--color-1) / .6), hsla(var(--color-2) / .6)), white;
  box-shadow: 0 0 .5rem hsla(var(--black) / .2);
  border: 1px solid black;
  border-radius: 8px;  
  margin-left: 15px; /* position away from list item text */
  font-size: 16px;
  
  /* black overlay when button clicked */
  &:focus {
  background: linear-gradient(160deg, hsla(var(--color-1) / .6), hsla(var(--color-2) / .6)), black;
  }
}