body {
  /* prevents repeating background*/
  height: 100vh;
  padding: 25px; /* set padding of body away from #app */
  background: var(--grad-y-o);
  
  /* Custom properties as HSL Colors */
  --black: 26 72% 15%;
  --white: 49 0% 100%;
  --color-1: 255 80% 80%; /* color 1 for hsl */
  --color-1-hsl: hsl(var(--color-1));
  --color-2: 296 62% 69%; /* color 2 for hsl */
  --color-2-hsl: hsl(var(--color-2));
  
  /* Gradient */
  --grad-y-o: linear-gradient(160deg, var(--color-1-hsl), var(--color-2-hsl));
}

#app {
  box-shadow: 0 0 .5rem hsla(var(--black) / .2);
  border-radius: 7px;
  background: hsla(var(--white) / .7);  
  padding: 25px;
}

.input-bar {  
  border-radius: 7px;
  /* white overlay */
  background: linear-gradient(160deg, hsla(var(--color-1) / .6), hsla(var(--color-2) / .6)), white; /* uses custom property specified */
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100vw - 150px); /* extends container when resizing browser */

}

::placeholder {
  color: black;
}

/* Styles list item */
li {
   margin: 10px;
   white-space: normal; /* fixes text overflow, creates new line */
   line-height: 1.6; /* line spacing for multi-line txt */
}

.button {
  background: linear-gradient(160deg, hsla(var(--color-1) / .6), hsla(var(--color-2) / .6)), white;
  box-shadow: 0 0 .5rem hsla(var(--black) / .2);
  border: 1px solid black;
  border-radius: 4px;  
  margin-left: 15px; /* position away from list item text */
}